<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>385989703905-g7h0718faeilsbc7t8fn2336euk11632.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.385989703905-g7h0718faeilsbc7t8fn2336euk11632</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>385989703905-hdedhk367a9fr28olh3l49ebulisj0g5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCDVIV1MSeJJtMomXhbXnvBo8DeTdVd00E</string>
	<key>GCM_SENDER_ID</key>
	<string>385989703905</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.capaztech.homswag</string>
	<key>PROJECT_ID</key>
	<string>homswag</string>
	<key>STORAGE_BUCKET</key>
	<string>homswag.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:385989703905:ios:6dfb2fbdcdbacf57e3dfa0</string>
	<key>DATABASE_URL</key>
	<string>https://homswag.firebaseio.com</string>
</dict>
</plist>